p {
    margin: 0;
}

.card {
    width: 34rem;
    padding: 1rem 2rem 2rem;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 2rem;
}

.card__img {
    background: lightcoral;
    border-radius: 50%;
    width: 3.7rem;
    height: 3.7rem;
}

.card__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.card__user-info {
    margin-left: 1rem;
}

.card__text_name {
    font-size: 1.2rem;
    margin-bottom: .7rem;
    
}

.card__text_time {
    font-size: .8rem;
    color: #666666;
}

.card__text {
    font-size: 1.2rem;
    margin: 2rem 0;
}

.card__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card__item {
    margin-left: .5rem;
}

.comment {
    width: 34rem;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: -3.5rem;
    height: fit-content;
    padding: 1rem 2rem;
}

.comment_text {
    font-size: 0.8rem;
}

.comment_img {
    width: 2rem;
    height: 2rem;
}

.comment__section:not(:last-child) {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128 128 128 / 10%);
}

.comment__content {
    margin-bottom: 1rem;
}
