.button__container {
	display: flex;
	justify-content: space-around;
	width: 30vw;
}

.button {
	cursor: pointer;
    width: 10rem;
    position: relative;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: .5rem 2rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: .8rem;
}

.ghost {
    border-style: solid;
	background-color: transparent;
	border-color: #FFFFFF;
}

.button:active {
	transform: scale(0.95);
}

.button:focus {
	outline: none;
}

.button__log-out {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 45px;
	height: 45px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: .3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: rgb(255, 65, 65);
	
}

.sign {
	height: 17px;
	width: 100%;
	transition-duration: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	position: absolute;
	right: 0%;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	transition-duration: .3s;
	}

  /* Hover effect on button */
.button__log-out:hover {
	width: 125px;
	border-radius: 40px;
	transition-duration: .3s;
}
.button__log-out:hover .sign {
	backface-visibility: hidden;
	width: 30%;
	transition-duration: .3s;
	padding-left: 20px;
}

  /* Hover effect on the text */
.button__log-out:hover .text {
	opacity: 1;
	width: 70%;
	transition-duration: .3s;
	padding-right: 10px;
	backface-visibility: hidden;
}

  /* Button click effect */
.button__log-out:active {
	transform: translate(2px ,2px);
}

.button__toggle {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.button__send {
	background-color: unset;
	border: none;
	position: absolute;
    bottom: 15px;
    right: 15px;
}

input[type=file]::file-selector-button {
	background-color: unset;
	border: none;
	display: none;
}